.card {
  position: sticky;
  right: 0;
  z-index: 99;
  min-width: 220px;
  height: 300px;
  padding-top: 100px;
  font-weight: var(--font-weight-semi-bold);
  text-align: center;
  background: linear-gradient(to bottom, var(--grey-1) 70%, var(--white-1) 30%);
  cursor: pointer;
}

.plus {
  margin-bottom: 5px;
  font-size: var(--font-size-lg);
}
