.wrapper {
  width: 35%;
  height: 100vh;
  background-color: rgba(2, 32, 92, 0.888);
  color: var(--white-1);
}

.image {
  width: 60px;
  margin-right: 15px;
}

.temperatureWrapper {
  display: flex;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  margin-inline: auto;
  margin-top: 200px;
  height: 150px;
  width: 150px;
  font-size: var(--font-size-base-md);
}

.city {
  font-size: var(--font-size-sm);
  margin-right: 20px;
}

.temperature {
  font-size: var(--font-size-xxl);
  margin-top: 10px;
}

.degree {
  font-size: var(--font-size-sm);
}

.timer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

.time {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  margin-bottom: 10px;
}

.timeUnit {
  font-size: var(--font-size-smallest);
}

.timeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weekDay {
  margin-right: 20px;
}
