.title {
  margin-bottom: 30px;
  font-weight: var(--font-weight-medium);
}

.icon {
  position: absolute;
  top: 14px;
  left: 18px;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.inputWrapper {
  position: relative;
  margin-right: 30px;
}

.input {
  width: 100%;
  max-width: 250px;
  height: 50px;
  padding-right: 15px;
  padding-left: 46px;
  font-size: var(--font-size-base-sm);
  background-color: var(--grey-1);
  border: none;
  border-radius: 7px;
  padding-block: 10px;
}

.button {
  width: 100px;
  border: none;
  border-radius: 5px;
}
