.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding-top: 40px;
  background-color: var(--grey-4);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 500px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 gray;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 18px 20px;
  text-transform: capitalize;
  background-color: white;
  border-bottom: 1px solid var(--grey-3);
  border-radius: 4px 4px 0 0;
}

.body {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 24px 16px;
  border-radius: 0 0 4px 4px;
}

.closeButton {
  position: absolute;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer {
  display: flex;
  padding: 16px 24px;
  border-top: 1px solid var(--grey-3);
  border-radius: 0 0 4px 4px;
}
