.title {
  margin-bottom: 20px;
}

.weekWeatherForecast {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  column-gap: 35px;
  transform: rotateX(180deg);
  padding-block: 10px;
  scrollbar-width: thin;
}
